:root {
    --color-first: #1DD1A1;
    --color-secund: #82589F;
    --color-third: #fff;
    
    --color-black-first: #000;
    --color-black-secund: #2F3542;
    --color-black-third: #A4B0BE;
}

header {
    position: flex;
    top: 0;

    display: flex;
    justify-content: space-between;
    background-color: var(--color-secund);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: var(--color-first);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0px var(--color-black-first);
    padding: 18px 20px;
    margin-right: 0;
    transition: tranform 150ms linear;
}

#button:hover {
    transform: scale(1.05);
}