.action {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: var(--color-first);
    height: 10px;
    width: 10px;
    margin-right: 10px;
}