.button {
    display: inline-block;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0px var(--color-black-first);
    padding: 18px 20px;
    margin-right: 0;
    transition: tranform 150ms linear;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: var(--color-third);
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
}